<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aqua;
        }
        h1{color: purple;}
        img{ border: solid 5px purple;
        border-radius: 10px;}
    </style>
</head>
<body>
    {% load static %}
    <br><br>
    <center><h1>AZ TRAVEL & TOUR</h1>
    <img src="{% static "pic/image.jpg" %}" alt="home" />
    <br><br>
    <h2><a href = "review">User Review</a></h2></center>
</body>
</html>